exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis.POSIXct", "box", "par", "plot", "lines")
importFrom("stats", "coef", "lm", "na.omit", "nls", "setNames")
importFrom("utils", "read.delim", "read.table", "write.table")
importFrom("dplyr", "%>%")
